# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
kluczapi.txt
__pycache__
# Runtime data files
data/mission.log
data/secret.key
data/images/
